body {
    position: relative;
    background-color: black;
    color: white;
    font-size: 25px;
}

#demo {
    color: white;
    background: blue;
}

#warning_box {
    position: relative;
    width: 800px;
    margin: 50px auto;
    top: 50%;
    max-height: 100%;
    padding: 20px;
    color: white;
    font-weight: bold;
    background: crimson;
}

#notif_box {
    position: relative;
    width: 800px;
    margin: 50px auto;
    top: 50%;
    max-height: 100%;
    padding: 20px;
    color: white;
    font-weight: bold;
    background: green;

}

.text_box {
    position: relative;
    width: 800px;
    top: 50%;
    margin: 50px auto;
    max-height: 100%;
}

.instruc {
    font-weight: bold;
}

img {
    max-width: 800px;
    max-height: 800px;
    margin: auto;
    padding: 10px;
}

.selection {
    position: relative;
    margin: 20px 0;
    padding: 10px;
    width: 100%;
    background: rgb(41, 41, 41);
    border-radius: 10px;
    cursor: pointer;
}

#instruc_box {
    width: 800px;
}

.selection:hover {
    background: grey;
}

.selection_text {
    display: inline;
    position: relative;
    left: 20px;
    width: calc(100% - 20px);
}

.radio {
    cursor: pointer;
}

.button {
    display: block;
    position: relative;
    text-align: center;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    color: white;
    background: rgb(41, 41, 41);
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    background: grey;   
}

.rating_area {
    position: relative;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    padding: 50px;
}

.rating_button {
    position: absolute;
    width: 150px;
    height: 60px;
    background: rgb(41, 41, 41);
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}

.rating_labels {
    padding: 10px;
}

.r1 {
    left: 75px;
}

.r2 {
    left: 240px;
}

.r3 {
    left: 405px;
}

.r4 {
    left: 570px;
}

.r5 {
    left: 735px;
}

.warning {
    color: lightgrey;
}